@import 'reset';

@font-face {
    font-family: 'Leksa Sans';
    src: url('../fonts/LeksaSans-Bold.woff2') format('woff2'),
        url('../fonts/LeksaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    // font-family: 'Roboto', sans-serif;
    font-family: 'Leksa Sans';
    color: #fff;
    font-size: 18px;
    background-color: #16151F;
}

.container {
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
}

.header__items{
    height: 90px;
    background: url(../img/header_bg.png) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;

    .header__item{
        display: flex;
        align-items: center;
    }
    .item__link{
        height: 50px;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding-left: 8px;
        border-radius: 25px 0 0 25px;
        background: linear-gradient(-60deg, rgba(0, 0, 0, 0) 20%, rgba(151, 148, 198, .1) 100%) border-box;

        &:hover{
            background:
            linear-gradient(-45deg, rgba(0, 0, 0, 0) 30%, rgba(151, 148, 198, .3) 100%) border-box;

            .link__text{
                background: linear-gradient(to right, rgba(245,44,191,1), rgba(255,124,70,1) ) 50% 0%;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent
            }
        }
        .link__picture{
            margin-right: 10px;
        }
        .link__text{
            font-family: 'Leksa Sans';
            font-weight: 700;
            text-transform: uppercase;
            font-size: 18px;
            color:#fff;
        }
    }
    .item__link-right{
        border-radius: 0 25px 25px 0;
        background: linear-gradient(60deg, rgba(0, 0, 0, 0) 20%, rgba(151, 148, 198, .1) 100%) border-box;
        padding-right: 22px;

        &:hover{
            background: linear-gradient(45deg, rgba(0, 0, 0, 0) 30%, rgba(151, 148, 198, .3) 100%) border-box;
        }
    }

    .item__center{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px 0 60px;
        background-color: #0D0B0F;
        border-radius: 25px;
        position: relative;
        width: 170px;
        height: 44px;
        margin-right: 80px;
        &:last-child{
            margin-right: 0;
        }
        img{
            position: absolute;
            left: -40px;
        }
        .crystal_img{
            left: -20px;
        }
        .quantity_coins{
            display: flex;
            flex-direction: column;

            span{
                font-family: 'Roboto', sans-serif;
                font-size: 10px;
                color: #B9B7EA;
            }
        }
        .square_buy{
            font-size: 26px;
            display: flex;
            align-items: center;
            color: #fff;
            cursor: pointer;
            justify-content: center;
            width: 25px;
            height: 25px;
            background: linear-gradient (#53ee48 1%, #2C812A 100%); 
            border: 1px solid #21CC14;
            border-radius: 3px;
            box-shadow: 0 1px 0 0 rgba(67, 240, 55, 0.562);

            &:hover{
                background-color: #0a5007;
            }
        }
    }
}

.main{
    background: url(../img/BG_picture.png) no-repeat;
    background-size: 100%;
    padding: 10px 0 50px;
}
.tabs__triggers{
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
}
.tabs__triggers_item{
    width: 20%;
    color: #fff;
    background-color: #323145;
    border-radius: 8px 8px 0 0;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    flex-grow: 1;
    border-bottom: 3px solid transparent;
    margin-right: 10px;
    &:last-child{
        margin-right: 0;
    }
    &:hover{
        background-color: #333152;
    }
}
.tabs__triggers_item-active{
    position: relative;
    border-image: linear-gradient(to right, rgba(245,44,191,.4), rgba(255,124,70,.4) ) 50% 0%;
    &::before{
        content: '';
        position: absolute;
        bottom: -3px;
        left: 50%;
        transform: translate(-50%);
        width: 80%;
        height: 3px;
        background: linear-gradient(to right, rgba(245,44,191,1), rgba(255,124,70,1) ) 50% 0%;
    }
}
.tabs__content_item{
    display: none;
    background-color: #242333;
    text-align: center;
    padding: 20px 0;
}
.tabs__content_item-active{
    display: block;
}
.tabs__title{
    font-size: 30px;
    margin-bottom: 24px;
}
.line{
    margin-bottom: 20px;
}
.tabs__cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 20px;
    padding: 0 20px;
    margin-bottom: 30px;
    .tabs__card{
        position: relative;
        z-index: 3;
        background: url(../img/card_BG.png) center -10px no-repeat;
        background-size: 115% 112%;
        padding: 34px 0 20px;
        border-radius: 16px;
        box-shadow: inset 0px -26px 22px 6px rgba(43, 39, 49, 0.8);
        max-height: 300px;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            height: 100%;
            width: 100%;
            border-radius: 16px;
            box-shadow: 0px 11px 19px -1px rgba(25,22,36,0.7);
        }
        .card__bonus{
            width: 44%;
            position: absolute;
            top: 0;
            left: 0;
        }
        .img_wrap{
            width: 70%;
            height: 110px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .card__img{
            width: 100%;
            max-width: 130px;
            max-height: 130px;
        }
        .card__text{
            font-family: 'Roboto', sans-serif;

            .crystal_quant{
                font-size: 30px;
                font-weight: 700;
            }
            span{
                font-size: 14px;
            }
        }
        .card__btn{
            position: relative;
            width: 65%;
            padding: 13px 10px;
            border-radius: 26px;
            color: #fff;
            border: none;
            background: rgb(36,35,51);
            background: -moz-linear-gradient(90deg, rgba(36,35,51,1) 0%, rgba(60,59,83,1) 100%);
            background: -webkit-linear-gradient(90deg, rgba(36,35,51,1) 0%, rgba(60,59,83,1) 100%);
            background: linear-gradient(90deg, rgba(36,35,51,1) 0%, rgba(60,59,83,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#242333",endColorstr="#3c3b53",GradientType=1);
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 700;

            &:before {
                content: '';
                position: absolute;
                top: 0; right: 0; bottom: 0; left: 0;
                z-index: -1;
                margin: -2px -2px;
                border-radius: inherit;
                background: linear-gradient(to right, rgba(104,47,189,1) 0%, rgba(203,76,188,1) 100%);
              }
              &:hover{
                    background: linear-gradient(-90deg, rgba(36,35,51,.7) 0%, rgba(60,59,83,.8) 100%);
              }

            .btn__text{
                margin-right: 12px;
            }
            .btn__dollar{
                color: #21CC14;
            }
        }
        
    }
}



@media screen and (max-width: 960px){
    .main{
        padding-top: 0;
    }
    .tabs__triggers{
        width: 100%;
        margin-bottom: 10px;
    }
    .tabs__triggers_item{
        background-color: #181723;
        border-radius: 0;
        margin-right: 0;
    }
    .tabs__triggers_item-active{
        background: rgb(24,23,35);
        background: -moz-linear-gradient(176deg, rgba(24,23,35,0.8998949921765581) 0%, rgba(57,14,51,0.8998949921765581) 100%);
        background: -webkit-linear-gradient(176deg, rgba(24,23,35,0.8998949921765581) 0%, rgba(57,14,51,0.8998949921765581) 100%);
        background: linear-gradient(176deg, rgba(24,23,35,0.8998949921765581) 0%, rgba(57,14,51,0.8998949921765581) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#181723",endColorstr="#390e33",GradientType=1);
    }
    .word{
        word-break: break-all;
    }
}


@media screen and (max-width: 840px){
    .tabs__triggers{
        font-size: 14px;
    }
    .tabs__content_item{
        padding-bottom: 0; 
        position: relative;
        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 8%;
            z-index: 10;
            box-shadow: inset 0px -35px 12px 8px rgba(31, 30, 48, 0.9);
       }
    }
    .tabs__cards{
        max-height: 560px;
        overflow: auto;
    }
    .header__items{
        padding: 0;
        .item__center{
            .quantity_coins {
                span{
                    display: none;
                }
            }
        }
        .item__link{
            padding: 0;
            background: transparent;
            .link__picture{
                width: 60px;
            }
            .link__text{
                display: none;
            }
        }
        .item__link-right{
            padding: 0;
        }
    }
}

@media screen and (max-width: 600px){
    .tabs__triggers_item{
        padding: 10px 3px;
        // overflow: hidden;
        // text-overflow: ellipsis;
     }
    .header__items{
        height: 50px;
        .item__center{
            margin-right: 40px;
            padding: 0;
            justify-content: center;
            height: 20px;
            width: 120px;
            img{
                width: 50px;
                left: -20px;
            }
            .crystal_img{
                left: -20px;
            }
            .quantity_coins {
                .numbers{
                    font-size: 16px;
                }
            }
            .square_buy{
                position: absolute;
                top: -4px;
                right: 0;
            }
        }
    }
}

@media screen and (max-width: 470px){
    .tabs__cards{
        grid-template-columns: repeat(2, 1fr);
        .tabs__card{
            height: 200px;
            padding: 10px 0 15px;
            background-position: center -5px;
            
            .img_wrap{
                max-height: 80px;

                .card__img{
                    width: 70%;
                }
            }
            .card__text{
                .crystal_quant{
                    font-size: 20px;
                }
                span{
                    font-size: 11px;
                }
            }
            .card__btn{
                padding: 6px;
                font-size: 11px;

                .btn__text{
                    margin-right: 4px;
                }
            }
        }
    }
}

@media screen and (max-width: 430px){
    .header__items{
        .item__center{
            margin-right: 30px;
            width: 100px;
            img{
                width: 40px;
                left: -10px;
            }
            .crystal_img{
                left: -15px;
            }
            .quantity_coins {
                .numbers{
                    font-size: 14px;
                }
            }
            .square_buy{
                position: absolute;
                top: -4px;
                right: 0;
            }
        }
        .item__link{
            .link__picture{
                width: 45px;
            }
        }
    }
}



